@import "variables.scss";
@import "input-range.scss";
@import "../node_modules/normalize.css/normalize.css";

#root {
  font-size: 1em;
  grid-template-columns: 1fr [content] 900px 1fr;
  background-color: $c1;
  display: grid;
  justify-items: center;
  align-items: center;
}

.content {
  background: $c1;
  grid-column: content;
  width: 100%;
  text-align: center;
}

.section-title {
  font-size: 2em;
  font-family: "Amaranth", sans-serif;
  font-weight: normal;
  
  a:any-link {
    color: $c2;
  }
}

main {
  header {
    font-family: $sans;
    font-weight: normal;
    h1 {
      font-weight: normal;
      color: $c3;
      font-size: 3em;
      margin: 0.5em 0 0.2em 0;
    }
    h2 {
      font-weight: normal;
      color: $c4;
      margin: 0 0 0.5em 0;
      font-size: 1.2em;
    }
  }

  .profile {
    background: $c1 url(images/photo.jpg) center no-repeat;
    background-size: contain;
    height: 18em;
  }

  .quote {
    font-family: $sans;
    font-size: 1.4em;
    color: $c5;
    margin: 0.2em 0 1em 0;

    p {
      text-align: center;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  .social {
    display: grid;
    grid-template-columns: 1fr [social] 1fr 1fr;
    justify-items: left;
    font-size: 1.1em;
    margin-top: 4em;

    a {
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 1.5em;
      line-height: 1.5em;
      font-family: $serif;
      padding-left: 2.5em;
      color: $c5;
      grid-column: social;
      margin: 0.5em 0;
    }

    .footer-fb {
      background-image: url("./images/fb.svg");
    }
    .footer-email {
      background-image: url("./images/email.svg");
      grid-row: 3;
    }
  }

  section {
    margin-top: 6em;

    h2 {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 2em;
      vertical-align: bottom;
      padding-top: 2em;
    }

    &.books h2 {
      background-image: url("images/books.svg");
    }

    &.bio h2 {
      background-image: url("images/bio.svg");
    }
  }
}

.book-list {
  margin: 5vw 2vw;
  .book-filter {
    position: relative;
    height: 2em;

    &.filter-hide + .filter-panel {
      display: none;
    }

    span {
      position: absolute;
      left: 0;
      font-family: $serif;
      font-family: "Maitree", serif;
    }
    svg {
      position: absolute;
      right: 0;
      height: 2em;
      fill: $c5;
    }

    &.filter-show > svg {
      fill: $c4;
    }
  }
}

.book-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 10px;
  margin-top: 5vw;
  font-family: $serif;

  .book-item {
    display: grid;

    a {
      height: 100%;
      display: grid;
      grid-template-rows: 3fr 1fr;
      justify-items: center;

      &:any-link {
        color: $c2;
      }

      img {
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
        border-radius: 3px;
        align-self: center;
        transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
        grid-column: 1;
        grid-row: 1;
      }
      canvas {
        border-radius: 5px;
        transition: opacity 100ms ease-in-out;
        opacity: 1;
        grid-column: 1;
        grid-row: 1;
        align-self: center;

        &.loading-hide {
          opacity: 0.0;
        }
      }

      &:hover {
        color: $c5;
        img {
          box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 12px;
          transform: translate(-0px, -3px);
        }
      }
      figcaption {
        text-align: center;
        margin-top: 1em;
        font-size: 1.1em;
      }
    }
  }
}

.filter-panel {
  font-family: "Maitree", serif;
  margin: 1em 2em;

  .filter-year,
  .filter-publisher {
    margin: 2em 20%;

    & > label {
      font-family: $sans;
    }
  }

  .input-range {
    touch-action: none;
    margin-top: 1em;
    font-size: 1.5em;
    user-select: none;
  }

  .checkbox-group {
    user-select: none;
    touch-action: none;
    input {
      display: none;
    }
    label {
      margin-right: 2.5ch;
      background-image: url(images/check-off.svg);
      background-position: left center;
      padding-left: 1.1em;
      background-repeat: no-repeat;
      background-size: 1em;
      line-height: 1.8em;
      display: inline-block;

      &.checked {
        background-image: url(images/check-on.svg);
      }
    }
  }
}
canvas {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
  grid-column: 1;
  grid-row: 2/4;
  &.loading-hide {
    opacity: 0.0;
  }
}
.book-view {
  display: grid;
  grid-template-columns: minmax(340px, 1fr) 2fr;
  grid-column-gap: 2rem;
  margin: 0 auto;

  h1,
  h2 {
    font-family: $sans;
    font-weight: normal;
    color: $c3;
  }
  h1 {
    font-size: 3em;
    grid-column: 1/3;
    margin: 1.5em 0;
  }

 
  &__cover {
    position: relative;
    grid-column: 1;
    width: 100%;
    max-height: 60vh;
    justify-items: center;
    
    grid-row: 2/4;
    display: grid;
    grid-template: "img";
    
    img, canvas {
      grid-area: img;
      width: 100%;
      max-height: 60vh;
      object-fit: contain;
    }
  }
  &__backtext {
    grid-column: 2;
    font-family: $serif;
    color: $c5;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    white-space: pre-line;
  }
  &__info {
    grid-column: 2;
    text-align: left;
    line-height: 1.5em;
    align-self: end;

    & div > span:first-child {
      color: $c5;
      //text-transform: uppercase;
    }
    h2 {
      font-family: $sans;
      line-height: 1em;
      margin: 0.5em 0;
    }

    font-family: $serif;
  }
}

.biography {
  margin: 0 4vw;
  p {
    text-align: justify;
    font-family: $serif;
    font-size: 1rem;
    line-height: 1.8rem;
  }
}


.nav {
  display: grid;
  grid-template: "title . books bio" / 2fr 1fr 1fr 1fr;
  justify-items: right;
  align-items: center;
  font-family: $sans;
  font-weight: normal;
  font-size: 1.3rem;
  height: 4rem;
  line-height: 4rem;

  a:any-link {
    color: #4e4e4e;
  }

  a {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 1.8em;
  }

  &__title {
    grid-area: title;
    justify-self: left;
    background-image: url(images/menu-icon.jpg);
  }
  &__item:nth-child(2) {
    grid-area: books;
    background-image: url(images/books.svg);
  }
  &__item:nth-child(3) {
    grid-area: bio;
    background-image: url(images/bio.svg);
  }

  &__handler {
    display: none; // desktop only
    width: 30px;
    // &--open {
    // }
    // &--close {
    // }
  }
}

// mobile
@media screen and (max-width: 480px) {
  #root {
    font-size: 0.8em;
    grid-template-columns: [content] 1fr;
  }
  .book-items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0em;
  }
  .filter-panel {
    .filter-year,
    .filter-publisher {
      margin: 2em 0;
    }
  }

  .book-list {
    .book-filter {
      margin: 0 4vmin;
    }
  }

  .book-view {
    margin: 0 4vmin;

    grid-template-columns: 1fr;
    grid-column-gap: 0em;
    h1 {
      margin: 0.5em 0 1em 0;
    }
    & > * {
      grid-column: 1/-1;
      margin-bottom: 2em;
    }

    &__cover {
      width: 100%;
      max-height: 60vh;
      justify-self: center;
      grid-row: 2;
    }
  }

  .nav {
    grid-template: "title . books bio" / auto 1fr 1fr;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0 0.5em;

    &__item {
      font-size: 0.9em;
      margin-left: 1.5em;
    }
  }

  .biography {
    img {
      width: 100%;
    }
  }
}
