@import "variables.scss";

$accent: $c4;
$gray: $c5;
$track: #cccccc;

.input-range__slider {
  appearance: none;
  background: $accent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1em;
  margin-left: -0.5em;
  margin-top: -0.75em;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1em;
}
.input-range__slider:active {
  transform: scale(1.5);
}
// .input-range__slider:focus {
//   box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
// }
.input-range--disabled .input-range__slider {
  background: $gray;
  border: 1px solid $gray;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: $gray;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  //bottom: -1.4em;
  //position: absolute;
  display: none;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -2.1em;
  font-size: 1.2em;
}

.input-range__label-container {
  left: -50%;
  position: relative;
  font-size: 0.5em;
}
.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: $track;
  border-radius: 0.5em;
  cursor: pointer;
  display: block;
  height: 0.5em;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
.input-range--disabled .input-range__track {
  background: $track;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15em;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: $accent;
}

.input-range {
  height: 1em;
  position: relative;
}
